### Python string

#### Assign string to a variable

In [1]:
a = "Hello"
print(a)  # Output: Hello

Hello

#### multiline strings

In [4]:
# three double quotes for multiline strings
a = """
This is a multiline string.
Are you enjoying?
It can span multiple lines.
You can use it for longer text.
"""
print(a)  # Output: Multiline string content

# three single quotes for multiline strings
b = '''This is another multiline string.
Yes, i enjoing it.
It also spans multiple lines.
You can use it for longer text.
'''
print(b)  # Output: Another multiline string content

This is a multiline string.
Are you enjoying?
It can span multiple lines.
You can use it for longer text.

This is another multiline string.
Yes, i enjoing it.
It also spans multiple lines.
You can use it for longer text.

#### string are arrays

In [1]:
a = "Hello, World!"
print(a[1])

e

#### looping through a string

In [2]:
for i in "banana":
    print(i)  # Output: b, a, n, a, n, a

b
a
n
a
n
a

#### string length

In [3]:
a = "Hello, World!"
print(len(a))  # Output: 13 (length of the string)

13

#### check string

In [4]:
txt = "The best things in life are free!"
if "free" in txt:
    print("Yes, 'free' is present.")  # Output: Yes, 'free' is present.

Yes, 'free' is present.

#### check if not

In [5]:
txt = "The best things in life are free!"
if " expenive" not in txt:
    print("No, 'expensive' is NOT present.")  # Output: No, 'expensive' is NOT present.

No, 'expensive' is NOT present.

#### python slicing strings

#### slice

In [6]:
b = "Hello, World!"
print(b[2:5])  # Output: llo (characters from index 2 to 4)

llo

#### Slice from the start

In [7]:
b = "Hello, World!"
print(b[:5])  # Output: Hello (characters from the start to index 4)

Hello

#### slice to the end

In [8]:
b = "Hello, World!"
print(b[2:])  # Output: llo, World! (characters from index 2 to the end)

llo, World!

#### Negative indexing

In [9]:
b = "Hello, World!"
print(b[-5:-2])  # Output: orl (characters from index -5 to -3, excluding -2)

orl

#### Python Modify strings

#### Upper case

In [10]:
a = "Hello, World!"
print(a.upper())  # Output: HELLO, WORLD! (converts to uppercase)

HELLO, WORLD!

#### Lower case

In [11]:
a = "Hello, World!"
print(a.lower())  # Output: hello, world! (converts to lowercase)

hello, world!

#### remove whitespace

In [12]:
# sritp() method removes any whitespace from the beginning and end of a string
a = " Hello, World! "
print(a.strip())  # Output: Hello, World! (removes leading and trailing whitespace

Hello, World!

#### Replace string

In [13]:
a = "Hello, World!"
print(a.replace("World", "Python"))  # Output: Hello, Python! (replaces "World" with "Python")

Hello, Python!

#### split string

In [14]:
a = "Hello, World!"
print(a.split(","))  # Output: ['Hello', ' World!'] (splits the string into a list at the comma)

['Hello', ' World!']

#### Python string concatenation

In [16]:
a = "Hello"
b = "World"
c = a + b
print(c)  # Output: HelloWorld (concatenates two strings)
print("------------")

# Concatenating with a space
a = "Hello" 
b = "World"
c = a + " " + b
print(c)  # Output: Hello World (concatenates with a space in between)

HelloWorld
------------
Hello World

#### Python format strings

##### string format

In [17]:
# the format() method formats the specified value(s) and insert them inside the string's placeholder
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))  # Output: My name is John, and I am 36

My name is John, and I am 36

In [18]:
# unlimited number of arguments
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item number {} for {} dollars."
print(myorder.format(quantity, itemno, price))  # Output: I want 3 pieces of item number 567 for 49.95 dollars.

I want 3 pieces of item number 567 for 49.95 dollars.

#### Python escape characters

In [20]:
# txt = "we are the so-called "Vikings" from the north."   # This line will cause a syntax error because of the unescaped double quotes inside the string.
txt = "we are the so-called \"Vikings\" from the north."  # Corrected with escape characters
print(txt)  # Output: we are the so-called "Vikings" from the north.

we are the so-called "Vikings" from the north.

####   Code and result
- \' -> single quote ,  \\ -> backslash,   \n ->  new line,  \r -> carriage return,  \t -> tab
- \b -> backspace,  \f -> form feed,  \ooo -> octal value,  \xhh -> Hex value

#### Python -string methods

#### capitalize()

In [21]:
a = "Hello, World!"
print(a.capitalize())  # Output: Hello, world! (capitalizes the first character)

Hello, world!

#### casefold()

In [22]:
a = "Hello, World!"
print(a.casefold())  # Output: hello, world! (casefolds the string for case-insensitive comparison)

hello, world!

#### center()

In [26]:
a = "Hello, World!"
print(a.center(20, '*'))  # Output: ****Hello, World!**** (centers the string within a width of 20 characters, filling with '*')

***Hello, World!****

#### count()

In [27]:
a = "Hello, World!"
print(a.count('o'))  # Output: 2 (counts occurrences of 'o' in the string)

2

#### encode()

In [28]:
a = "Hello, World!"
print(a.encode('utf-8'))  # Output: b'Hello, World!' (encodes the string to bytes using UTF-8 encoding)

b'Hello, World!'

#### endswith()

In [29]:
a = "Hello, World!"
print(a.endswith('World!'))  # Output: True (checks if the string ends with 'World!')

True

#### expandtabs()

In [42]:
text = "Name\tAge\tCity"
print(text.expandtabs(10))

Name      Age       City

#### find()

In [39]:
a = "Hello, World!"
print(a.find('World'))  # Output: 7 (finds the index of 'World' in the string, returns -1 if not found)

7

#### format_map()

In [41]:
data = {'name': 'Ali', 'age': 25}
sentence = "My name is {name} and I am {age} years old.".format_map(data)
print(sentence)

My name is Ali and I am 25 years old.

#### index()

In [43]:
a = "Hello, World!"
print(a.index('World'))  # Output: 7 (finds the index of 'World' in the string, raises ValueError if not found)

7

#### isalnum()

In [56]:
text = "Code123"
print(text.isalnum())  # Output: True (checks if the string is alphanumeric, i.e., contains only letters and numbers)
# Example of a string that is alphanumeric  
a = "22"
print(a.isalnum())  # Output: True (checks if the string is alphanumeric, i.e., contains only letters and numbers)

True
True

#### isalpha()

In [58]:
text = "Python"
print(text.isalpha())  # Output: True (checks if the string contains only alphabetic characters)

True

#### isdecimal()

In [63]:
num = "12345"
print(num.isdecimal())
num = "12.9"
print(num.isdecimal())  # Output: False (checks if the string contains only decimal characters, returns False for non-decimal characters)

True
False

#### isdigit

In [ ]:
num = "2025"
print(num.isdigit())  # Output: True (checks if the string contains only digits)
num = "12.9"
print(num.isdigit())

True
False

#### isidentifier()

In [ ]:
name = "my_variable"
print(name.isidentifier())  # Output: True (checks if the string is a valid Python identifier)

True

#### islower()

In [67]:
a = "Hello, World!"
print(a.islower())  # Output: False (checks if all characters in the string are lowercase)
a = "hello, world!"
print(a.islower())  # Output: True (checks if all characters in the string are lowercase)

False
True

#### isnumeric()

In [69]:
num = "12345"
print(num.isnumeric())  # Output: True (checks if the string contains only numeric characters)
num = "12.9"
print(num.isnumeric())  # Output: False (checks if the string contains only numeric characters, returns False for non-numeric characters)

True
False

#### isprintable()

In [70]:
text = "Hello World!"
print(text.isprintable())
a = "hello\n world"
print(a.isprintable())  # Output: False (contains a newline character, which is not printable)

True
False

#### isspace()

In [71]:
text = "   "
print(text.isspace())
text = "Hello World!"
print(text.isspace())  # Output: False (checks if the string contains only whitespace

True
False

#### istitle()

In [72]:
text = "My Name Is Ali"
print(text.istitle())  # Output: True (checks if the string is in title case, i.e., each word starts with an uppercase letter)

True

#### isupper()

In [ ]:
a = "Hello, World!"
print(a.isupper())  # Output: False (checks if all characters in the string are uppercase characters)

False

#### join()

In [74]:
words = ["Python", "is", "fun"]
sentence = " ".join(words)
print(sentence)  # Output: Python is fun (joins the list of words into a single string with spaces)

Python is fun

#### ljust()

In [75]:
text = "Hi"
print(text.ljust(10, "-"))

Hi--------

#### lstrip

In [78]:
text = "   Hello"
print(text.lstrip())  # Output: "Hello" (removes leading whitespace)

Hello

#### maketrans()

In [79]:
trans = str.maketrans("ae", "12")
text = "apple"
print(text.translate(trans))  # Output: 1ppl2 (translates 'a' to '1' and 'e' to '2')

1ppl2

#### partition()

In [81]:
text = "hello@world"
result = text.partition("@")
print(result)

('hello', '@', 'world')

#### rfind()

In [ ]:
text = "banana"
position = text.rfind("a") 
print(position)

5

#### swapcase()

In [84]:
text = "HeLLo WoRLd"
print(text.swapcase())  # Output: hEllO wOrlD (swaps uppercase to lowercase and vice versa)

hEllO wOrlD

#### title()

In [85]:
text = "welcome to python"
print(text.title())

Welcome To Python

#### zfill()

In [86]:
num = "42"
print(num.zfill(5))  # Output: 00042 (pads the string with zeros to a width of 5 characters)

00042